header#home.header
	#bgimage.header-image
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12
					a.logo-dark(href="#home")
						img.logo(src="assets/img/logo.png", alt="Logo")
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.heading-text
					h1.main-heading
						| Gratious multipurpose
						br
						span business template
					.border
					h4 We are creative digital agency in the market
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt quis officia, ut quod autem repellendus atque doloribus, necessitatibus ullam iusto voluptate ipsum explicabo sed deserunt soluta magnam ipsa, culpa!
					.button
						a.btn(href="#") discover
						a.btn.pink-btn(href="#") buy now
		.scrolldown
			a.scroll_btn(href="#about")
