section#news.top-margin
	.container
		.row.center-content
			.col-lg-12.col-md-12.col-sm-12
				h5 Keep track on our
				h2 Latest News
				p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	.container
		.newsImage.news1
			.row.newsWrapper
				.col-md-7.col-md-offset-5.no-padding
					.newsDate
						h2 27 #[span July 2015]
					a.newsLink(href="#")#[h4 Your title comes here]
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.
					span.postedBy Posted by admin

		.newsImage.news2
			.row.newsWrapper
				.col-md-7.no-padding.text-right
					.newsDate
						h2 27 #[span July 2015]
					a.newsLink(href="#")#[h4 Your title comes here]
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.
					span.postedBy Posted by admin

		.newsImage.news3
			.row.newsWrapper
				.col-md-7.col-md-offset-5.no-padding
					.newsDate
						h2 27 #[span July 2015]
					a.newsLink(href="#")#[h4 Your title comes here]
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.
					span.postedBy Posted by admin

