section#about.top-margin
	.container
		.row.center-content.wow.zoomIn(data-wow-duration='2s', data-wow-delay='0.5s')
			.col-lg-12.col-md-12.col-sm-12
				h4.title Who we are
			.col-lg-12.col-md-12.col-sm-12
				p.description
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			// end of row
		.about-info
			.col-lg-5.col-md-5.col-sm-5.wow.zoomIn(data-wow-duration='2s', data-wow-delay='1s')
				h5.intro  Some of our experties
				.media
					.full-left.rect-pink
						i.fa.fa-database
					.content
						h5 Media
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.
					// end of media
				.media
					.full-left.rect-pink
						i.fa.fa-database
					.content
						h5 Gracious
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.
				// end of media
				.media
					.full-left.rect-pink
						i.fa.fa-bars
					.content
						h5 Partners
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.
					// end of media
				.media
					.full-left.rect-pink
						i.fa.fa-book
					.content
						h5 Magazines
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.
					// end of media
					// end of col-lg-5
			.choose-us
				.col-lg-6.col-md-6.col-sm-6.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.wow.zoomIn(data-wow-duration='2s', data-wow-delay='1s')
					h5.choose Why choose us
					p.choose-text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit is the value of nullag quam lorm text.
					.skillbar(data-percent='75%')
						.skillbar-title
							h3.percentVal 75%
							span.sm-txt Photoshop
						.skillbar-bar.percentVal
					.skillbar(data-percent='95%')
						.skillbar-title
							h3.percentVal 95%
							span.sm-txt Illustrator
						.skillbar-bar.percentVal
					.skillbar(data-percent='80%')
						.skillbar-title
							h3.percentVal 80%
							span.sm-txt Sublime
						.skillbar-bar.percentVal
					.skillbar(data-percent='70%')
						.skillbar-title
							h3.percentVal 70%
							span.sm-txt Firework
						.skillbar-bar.percentVal

