section#services.top-margin
	.container
		.row.center-content
			.col-lg-12.col-md-12.col-sm-12
				h5 Some few words about our
				h2 Creative Studio
				p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			.col-lg-3.col-md-3.col-sm-3
				.services1.center-content
					img(src="assets/img/services01.png", alt="services")
					h5 Graphic Designing
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum beatae suscipit maxime itaque dolor harum. Aperiam ex quos nesciunt ut perspiciatis.
			.col-lg-3.col-md-3.col-sm-3
				.services1.center-content
					img(src="assets/img/services02.png", alt="services")
					h5 Web Designing
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum beatae suscipit maxime itaque dolor harum. Aperiam ex quos nesciunt ut perspiciatis.
			.col-lg-3.col-md-3.col-sm-3
				.services1.center-content
					img(src="assets/img/services03.png", alt="services")
					h5 Freelancing
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum beatae suscipit maxime itaque dolor harum. Aperiam ex quos nesciunt ut perspiciatis.
			.col-lg-3.col-md-3.col-sm-3
				.services1.center-content
					img(src="assets/img/services04.png", alt="services")
					h5 Development
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum beatae suscipit maxime itaque dolor harum. Aperiam ex quos nesciunt ut perspiciatis.
			