section#team.top-margin
	.container
		.row.center-content
			.col-lg-12.col-md-12.col-sm-12
				h5 Our team
				h2 Checkout our great team
	.container
		.row.top-margin
			#owl-carousel-team.owl-carousel.owl-theme
				.item
					.team-item.col-lg-12.col-md-12.col-sm-12
						.teamwrapper 
							img.img-responsive(src="assets/img/Team/1.jpg", alt="team")
							.team-overlay
							.team-inner
								h4#[span Founder] #[strong Pearson] Bell
				.item
					.team-item.col-lg-12.col-md-12.col-sm-12
						.teamwrapper 
							img.img-responsive(src="assets/img/Team/2.jpg", alt="team")
							.team-overlay
							.team-inner
								h4#[span Creative Director] #[strong Mathew] Jensen
				.item
					.team-item.col-lg-12.col-md-12.col-sm-12
						.teamwrapper 
							img.img-responsive(src="assets/img/Team/3.jpg", alt="team")
							.team-overlay
							.team-inner
								h4#[span Developer] #[strong Thomas] Lee
				.item
					.team-item.col-lg-12.col-md-12.col-sm-12
						.teamwrapper 
							img.img-responsive(src="assets/img/Team/4.jpg", alt="team")
							.team-overlay
							.team-inner
								h4#[span Designer] #[strong Sam] White
				.item
					.team-item.col-lg-12.col-md-12.col-sm-12
						.teamwrapper 
							img.img-responsive(src="assets/img/Team/5.jpg", alt="team")
							.team-overlay
							.team-inner
								h4#[span Accountant] #[strong Andy] Anderson
								