section#features.top-margin
	.container
		.row
			.col-lg-5.col-md-6.col-sm-6.bigimage
				img.img-responsive(src="assets/img/features.jpg", alt="feature-image")
			.facts
				.col-lg-6.col-md-6.col-sm-6
					h5 Some really interesting facts about
					h2 Our agency?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vitae dolorum delectus repellendus labore, fugiat error. Laudantium quidem voluptate voluptas id hic natus quisquam eveniet, qui repudiandae, incidunt repellat, obcaecati!
					ul
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt Easy to customize
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt Web development
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt Creativity
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt 27/7 Support
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt Freelancing
						li
							.check-pink
								i.fa.fa-check
							span.feature-txt Meditate your work
				