
<header id="home" class="header">
  <div id="bgimage" class="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12"></div><a href="logo" class="logo-dark"><img src="assets/img/logo.png" alt="Logo"/></a>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-text">
        <h1 class="main-heading">Gratious multipurpose<span>business template</span></h1>
        <div class="border"></div>
        <h4>We are creative digital agency in the market</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt quis officia, ut quod autem repellendus atque doloribus, necessitatibus ullam iusto voluptate ipsum explicabo sed deserunt soluta magnam ipsa, culpa!</p>
        <div class="button"><a href="#" class="btn">discover</a><a href="#" class="btn pink-btn">buy now</a></div>
      </div>
    </div>
    <div class="scrolldown"><a href="#about" class="scroll_btn"></a></div>
  </div>
</header>