
<section id="about" class="top-margin">
  <div class="container">
    <div data-wow-duration="2s" data-wow-delay="0.5s" class="row center-content wow zoomIn">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="title">Who we are</h4>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <!-- end of row-->
    </div>
    <div class="about-info">
      <div data-wow-duration="2s" data-wow-delay="1s" class="col-lg-5 col-md-5 col-sm-5 wow zoomIn">
        <h5 class="intro"> Some of our experties</h5>
        <div class="media">
          <div class="full-left rect-pink"><i class="fa fa-database"></i></div>
          <div class="content">
            <h5>Media</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.</p>
          </div>
          <!-- end of media-->
        </div>
        <div class="media">
          <div class="full-left rect-pink"><i class="fa fa-database"></i></div>
          <div class="content">
            <h5>Gracious</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.</p>
          </div>
        </div>
        <!-- end of media-->
        <div class="media">
          <div class="full-left rect-pink"><i class="fa fa-bars"></i></div>
          <div class="content">
            <h5>Partners</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.</p>
          </div>
          <!-- end of media-->
        </div>
        <div class="media">
          <div class="full-left rect-pink"><i class="fa fa-book"></i></div>
          <div class="content">
            <h5>Magazines</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.</p>
          </div>
          <!-- end of media-->
          <!-- end of col-lg-5-->
        </div>
      </div>
      <div class="choose-us">
        <div data-wow-duration="2s" data-wow-delay="1s" class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 wow zoomIn">
          <h5 class="choose">Why choose us</h5>
          <p class="choose-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit is the value of nullag quam lorm text.</p>
          <div data-percent="75%" class="skillbar">
            <div class="skillbar-title">
              <h3 class="percentVal">75%</h3><span class="sm-txt">Photoshop</span>
            </div>
            <div class="skillbar-bar percentVal"></div>
          </div>
          <div data-percent="95%" class="skillbar">
            <div class="skillbar-title">
              <h3 class="percentVal">95%</h3><span class="sm-txt">Illustrator</span>
            </div>
            <div class="skillbar-bar percentVal"></div>
          </div>
          <div data-percent="80%" class="skillbar">
            <div class="skillbar-title">
              <h3 class="percentVal">80%</h3><span class="sm-txt">Sublime</span>
            </div>
            <div class="skillbar-bar percentVal"></div>
          </div>
          <div data-percent="70%" class="skillbar">
            <div class="skillbar-title">
              <h3 class="percentVal">70%</h3><span class="sm-txt">Firework</span>
            </div>
            <div class="skillbar-bar percentVal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>