
<section id="team" class="top-margin">
  <div class="container">
    <div class="row center-content">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>Our team</h5>
        <h2>Checkout our great team</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row top-margin">
      <div id="owl-carousel-team" class="owl-carousel owl-theme">
        <div class="item">
          <div class="team-item col-lg-12 col-md-12 col-sm-12">
            <div class="teamwrapper"> <img src="assets/img/Team/1.jpg" alt="team" class="img-responsive"/>
              <div class="team-overlay"></div>
              <div class="team-inner">
                <h4><span>Founder</span> <strong>Pearson</strong> Bell</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-item col-lg-12 col-md-12 col-sm-12">
            <div class="teamwrapper"> <img src="assets/img/Team/2.jpg" alt="team" class="img-responsive"/>
              <div class="team-overlay"></div>
              <div class="team-inner">
                <h4><span>Creative Director</span> <strong>Mathew</strong> Jensen</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-item col-lg-12 col-md-12 col-sm-12">
            <div class="teamwrapper"> <img src="assets/img/Team/3.jpg" alt="team" class="img-responsive"/>
              <div class="team-overlay"></div>
              <div class="team-inner">
                <h4><span>Developer</span> <strong>Thomas</strong> Lee</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-item col-lg-12 col-md-12 col-sm-12">
            <div class="teamwrapper"> <img src="assets/img/Team/4.jpg" alt="team" class="img-responsive"/>
              <div class="team-overlay"></div>
              <div class="team-inner">
                <h4><span>Designer</span> <strong>Sam</strong> White</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-item col-lg-12 col-md-12 col-sm-12">
            <div class="teamwrapper"> <img src="assets/img/Team/5.jpg" alt="team" class="img-responsive"/>
              <div class="team-overlay"></div>
              <div class="team-inner">
                <h4><span>Accountant</span> <strong>Andy</strong> Anderson</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>