
<div class="vid-icon">
  <div class="container">
    <div class="row center-content top-margin"><img src="assets/img/vid-icon.png" alt="video-icon"/></div>
  </div>
</div>
<div id="video" class="section center-content">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="icon"><a href="http://www.youtube.com/embed/ee1_2gA8UZY?autoplay=1&amp;amp;.)wmode=opaque&amp;amp;.)fs=1" class="youtube-media"><img src="assets/img/play.png" alt="play-icon"/></a></div>
    </div>
  </div>
</div>