
<section id="features" class="top-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6 bigimage"><img src="assets/img/features.jpg" alt="feature-image" class="img-responsive"/></div>
      <div class="facts">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h5>Some really interesting facts about</h5>
          <h2>Our agency?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vitae dolorum delectus repellendus labore, fugiat error. Laudantium quidem voluptate voluptas id hic natus quisquam eveniet, qui repudiandae, incidunt repellat, obcaecati!</p>
          <ul>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">Easy to customize</span>
            </li>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">Web development</span>
            </li>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">Creativity</span>
            </li>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">27/7 Support</span>
            </li>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">Freelancing</span>
            </li>
            <li>
              <div class="check-pink"><i class="fa fa-check"></i></div><span class="feature-txt">Meditate your work</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>